<div class="row">

    <div class="col">
        <p class="text-right">
            تم انشائه بواسطه <%= link_to @order.user.name, profile_path(@order.user) %>
            <%= time_ago_in_words(@order.created_at) %> ago
             
            
        </p>
    </div>
</div>