<div class="row">

    <div class="col-md-2">
        <p class="text-right">
            <%= image_tag @user.image.small.url, class: 'img-thumbnail' %>
        </p>
    </div>

    <div class="col">
        <h4 class="text-right"> <%= @user.name %> </h4>
    </div>

</div>

<div class="row">

    <p class="text-right"> سيتم اضافه المزيد لاحقا!! </p>

</div>